  body{
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #fafafa;
  }

  .bg-inter{
    background-color: #0F2A56;
  }

a.players{
    color: #212529
}

  a.players:hover{
    color: #428bca;
    text-decoration: none;
  }